<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="{{ url_for('login') }}">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Se connecter">
    </form>
    {% if 'username' in session %}
    <a href="{{ url_for('logout') }}">Se déconnecter</a>
    {% endif %}
</body>
</html>